{% extends "user/base.html" %}
{% block title %}Список статей{% endblock %}
{% block head %}Список статей{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="articles_list">
                    <div class="card articles_box">
                        <div class="row">
                            <div class="col-md-4">
                                {% if article.image %}
                                    <img class="card-img-top card-img-left" src="{{ article.image.url }}" height="{{ article.image.height }}">
                                {% else %}
                                    <img class="card-img-top card-img-left" src="http://customerengagement.asia/Blog/img/no_img.png"">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="articles_box_user">Опубликовал {{ article.user }}</p>
                                    <h5 class="card-title">{{ article.title }}</h5>
                                    <p class="card-text">{{ article.content }}</p>
                                    <div class="articles_box_tags">
                                        {% for tag in article.tags.all %}
                                            <span class="articles_box_tag">#{{ tag.name }}</span>
                                        {% endfor %}
                                        
                                    </div>
                                    <a href="{% url 'user:index' %}" class="btn btn-light articles_box_btn">
                                        Вернуться
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row article_comments_box">
                        <div class="col-md-8 offset-md-2">
                            <h3>Комментарии к статье</h3>
                            {% for comment in article.comments.all %}
                                <div class="article_comments_box_entity">
                                    <span>Оставил {{ comment.user }}:</span>
                                    <p>{{ comment.text }}</p>
                                </div>
                            {% endfor %}
                            <div class="article_comments_new">
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button class="btn btn-warning btn-cntrl" type="submit">Добавить комментарий</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}